.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: #ff8100;
  transition: all 0.5s ease-out;
}
.menu-btn.close {
  transform: rotate(180deg);
}
.menu-btn.close .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}
.menu-btn.close .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;
}
.menu.show {
  visibility: visible;
}
.menu-branding {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  float: left;
  width: 70%;
  height: 100vh;
  overflow: hidden;
}

.menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  float: left;
  width: 30%;
  height: 100vh;
  overflow: hidden;
}
.menu-nav {
  margin: 0;
  padding: 0;
  background: #373737;
  list-style: none;
  transform: translate3d(0, -100%, 0);
  transition: all 0.5s ease-out;
}
.menu-nav.show {
  transform: translate3d(0, 0, 0);
}
.menu .nav-item {
  transform: translate3d(600px, 0, 0);
  transition: all 0.5s ease-out;
}
.menu .nav-item.show {
  transform: translate3d(0, 0, 0);
}
.menu .nav-item.current > a {
  color: #ff8100;
}
.menu .nav-link {
  display: inline-block;
  position: relative;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 1.5rem 0;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  transition: all 0.5s ease-out;
}
.menu .nav-link:hover {
  color: #ff8100;
}

.nav-item:nth-child(1) {
  transition-delay: 0.1s;
}

.nav-item:nth-child(2) {
  transition-delay: 0.2s;
}

.nav-item:nth-child(3) {
  transition-delay: 0.3s;
}

.nav-item:nth-child(4) {
  transition-delay: 0.4s;
}

.nav-item:nth-child(5) {
  transition-delay: 0.5s;
}

.nav-item:nth-child(6) {
  transition-delay: 0.6s;
}

.nav-item:nth-child(7) {
  transition-delay: 0.6s;
}

* {
  box-sizing: border-box;
}

body {
  background: #444;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}
body#bg-img {
  background: url(../img/background.jpg);
  background-attachment: fixed;
  background-size: cover;
}
body#bg-img:after {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(68, 68, 68, 0.75);
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
}
h1.lg-heading,
h2.lg-heading,
h3.lg-heading {
  font-size: 6rem;
}
h1.sm-heading,
h2.sm-heading,
h3.sm-heading {
  margin-bottom: 2rem;
  padding: 0.2rem 1rem;
  font-weight: 700;
}

p.sm-paragraph {
  margin-bottom: 1rem;
  padding: 0.2rem 1rem;
  font-weight: 600;
  font-size: 1.2rem;
}

h1.index-heading {
  line-height: 1;
}

h2.index-heading {
  padding-left: 33rem;
  font-size: 2rem;
}

h1.index-heading2 {
  line-height: 1;
}

h2.index-heading2 {
  font-size: 2.5rem;
  padding-top: 2rem;
  font-weight: 600;
}

@font-face {
  font-family: smoothStone;
  src: url(../font/veteran-typewriter.ttf);
}

.soft-font {
  font-family: smoothStone;
  font-size: 3rem;
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: #ff8100;
  font-weight: bold;
}

.text-emphatic {
  color: #7f0bc2;
}

main {
  padding: 4rem;
  min-height: calc(100vh - 60px);
}
main .icons {
  margin-top: 1rem;
}
main .icons a {
  padding: 0.4rem;
  transition: all 0.5s ease-out;
}
main .icons a:hover {
  color: #ff8100;
}
main#home {
  overflow: hidden;
}
main#home h1 {
  margin-top: 20vh;
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: 'bioimage bio bio' 'job1 job2 job3';
  grid-template-columns: repeat(3, 1fr);
}
.about-info .bio-image {
  grid-area: bioimage;
  margin: auto;
  border-radius: 50%;
  border: #ff8100 3px solid;
}
.about-info .bio {
  grid-area: bio;
  font-size: 1.5rem;
}
.about-info .job-1 {
  grid-area: job1;
}
.about-info .job-2 {
  grid-area: job2;
}
.about-info .job-3 {
  grid-area: job3;
}
.about-info .job {
  background: #515151;
  padding: 0.5rem;
  border-bottom: #ff8100 5px solid;
}

.about-icon {
  margin-top: 1rem;
  display: block;
  text-align: center;
  justify-items: center;
  font-size: 1rem;
}
.about-icon a {
  padding: 2rem;
  transition: all 0.5s ease-out;
}
.about-icon a:hover {
  color: #ff8100;
}

.text-link a {
  padding: 3rem;
  transition: all 0.5s ease-out;
  text-align: center;
}

.text-link a:hover {
  color: #ff8100;
}

/* Contact Form */

input[type='checkbox'] {
  margin-right: 1rem;
}

.contact-form {
  max-width: 500px;
  padding: 10px 20px;
  background: #35424a;
  margin: 10px auto;
  padding: 20px;
  background: #35424a;
  border-radius: 8px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.contact-form fieldset {
  border: none;
}
.contact-form legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}
.contact-form label {
  display: flex;
  flex-wrap: nowrap;
  align-items: space-evenly;

  margin-bottom: 8px;
  margin-left: 10px;
  padding: 2px;
}
.contact-form label > input[type='checkbox'] {
  display: block;
  align-items: left;
  margin-bottom: 8px;
  margin-left: 10px;
  padding: 2px;
}

.contact-form input[type='text'],
.contact-form input[type='date'],
.contact-form input[type='datetime'],
.contact-form input[type='email'],
.contact-form input[type='number'],
.contact-form input[type='search'],
.contact-form input[type='time'],
.contact-form input[type='url'],
.contact-form textarea,
.contact-form select {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 4px;
  font-size: 15px;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #e8eeef;
  color: #8a97a0;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
}
.contact-form input[type='text']:focus,
.contact-form input[type='date']:focus,
.contact-form input[type='datetime']:focus,
.contact-form input[type='email']:focus,
.contact-form input[type='number']:focus,
.contact-form input[type='search']:focus,
.contact-form input[type='time']:focus,
.contact-form input[type='url']:focus,
.contact-form textarea:focus,
.contact-form select:focus {
  background: #d2d9dd;
}
.contact-form select {
  -webkit-appearance: menulist-button;
  height: 35px;
}
.contact-form .number {
  background: #ff8100;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  border-radius: 15px 15px 15px 0px;
}

.contact-form input[type='submit'],
.contact-form input[type='button'] {
  position: relative;
  display: block;
  padding: 19px 39px 18px 39px;
  color: #fff;
  margin: 0 auto;
  background: #ff8100;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  width: 100%;
  border: 1px solid #ff8100;
  border-width: 1px 1px 3px;
  margin-bottom: 10px;
}
.contact-form input[type='submit']:hover,
.contact-form input[type='button']:hover {
  background: #ff8100;
}

/* Projects */

main#work {
  align-items: center;
  justify-content: center;
}

.projects {
  display: grid;
  grid-gap: 3rem;
  padding-left: 20rem;
  padding-right: 20rem;
  grid-template-columns: 1fr;
  width: 100%;
  align-items: center;
}

.projects .item {
  width: 50%;
}

.projects img {
  width: 100%;
  border: 3px #fff solid;
  align-items: center;
}
.projects img:hover {
  opacity: 0.7;
  border-color: #ff8100;
  transition: all 0.5s ease-out;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
}
.boxes div {
  font-size: 1rem;
  border: 3px #fff solid;
  padding: 1.5rem 2.5rem;
  margin-bottom: 3rem;
  transition: all 0.5s ease-out;
}
.boxes div:hover {
  padding: 0.5rem 1.5rem;
  background: #ff8100;
  color: #000;
}
.boxes div:hover span {
  color: #000;
}

.btn,
.btn-dark,
.btn-light {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
}
.btn:hover,
.btn-dark:hover,
.btn-light:hover {
  background: #ff8100;
  color: #000;
}

.btn-dark {
  background: black;
  color: #fff;
}

.btn-light {
  background: #c4c4c4;
  color: #333;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: #2b2b2b;
  color: #fff;
  height: 120px;
}

#main-footer > h1.sm-heading,
#main-footer > h2.sm-heading,
#main-footer > h3.sm-heading {
  margin-bottom: 1rem;
  padding: 0.2rem;
  font-weight: 700;
}

@media screen and (min-width: 1171px) {
  .projects {
    display: grid;
    grid-gap: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    grid-template-columns: 1fr;
    width: 100%;
    align-items: center;
    justify-items: center;
    align-content: center;
  }
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .projects {
    display: grid;
    grid-gap: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    grid-template-columns: 1fr;
    width: 90%;
    align-items: center;
  }

  main .lg-heading {
    line-height: 1;
    font-size: 4rem;
    margin-bottom: 1rem;
  }

  main .sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    font-weight: 300;
  }
}

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center;
  }
  main .lg-heading {
    line-height: 1;
    font-size: 4rem;
    margin-bottom: 1rem;
  }
  main .sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    font-weight: 300;
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
  }

  .menu {
    opacity: 0.95;
  }
  ul.menu-nav.show,
  div.menu-branding.show {
    transform: translate3d(0, 0, 0);
  }
  .menu-nav {
    height: 100vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 18px;
  }
  .menu-branding {
    height: 0vh;
    transform: translate3d(100%, 0, 0);
  }
  .menu-branding .portrait {
    background: url('../img/portrait_small.jpg');
    width: 150px;
    height: 150px;
  }
  .about-info {
    grid-template-areas: 'bioimage' 'bio' 'job1' 'job2' 'job3';
    grid-template-columns: 1fr;
  }
  .projects {
    display: grid;
    grid-gap: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    grid-template-columns: 1fr;
    width: 100%;
    align-items: center;
  }
}

@media screen and (max-width: 500px) {
  main {
    padding: 2rem;
  }
  main #home h1 {
    margin-top: 10vh;
  }

  main .lg-heading {
    margin-top: 1rem;
    font-size: 4rem;
  }

  .projects {
    display: grid;
    grid-gap: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    grid-template-columns: 1fr;
    width: 100%;
    align-items: center;
  }
  /* .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 18px;
  }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);
  } */
  .contact-form {
    width: 100%;
  }
}
